// Third party libs
@import '../node_modules/normalize.css/normalize.css';

:root {
  --textColor: #222;
  --navbarBackground: #3f51b5;
  --navbarColour: #fff;
  --navbarFontSize: 1.5rem;
  --navbarHeight: 4rem;
  --notificationBackground: #e10050;
  --notificationColour: #fff;
  --menuItemBorder: 1px solid #efefef;
  --linkColour: #2196f3;
}

html {
  box-sizing: border-box;
  height: 100%;
  overflow-x: hidden;

  font-size: 1rem;
  line-height: 1.5;
}

body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;

  font-family: Montserrat, sans-serif;
  font-weight: 400;
  color: var(--textColor);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
